<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Inicio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    @{
        var viewName = ViewContext.RouteData.Values["Action"].ToString();
    }

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">

            <a href="#" class="logo">
                @if (viewName == "Index")
                {
                    <img src="@Url.Content("../BabyGuide/assets/img/newLogo.png")" alt="Logo" style="width: 150px; height: auto; border-radius: 50%;">
                }
                else
                {
                    <img src="@Url.Content("../assets/img/newLogo.png")" alt="Logo" style="width: 150px; height: auto; border-radius: 50%;">
                }

            </a>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    @if (Session["correoUsuario"] != null)
                    {
                        <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")">Inicio</a></li>
                        if (Session["idBebe"] != null)
                        {
                            <li><a class="nav-link scrollto" href="@Url.Action("Expediente", "Home")">Expediente</a></li>
                            <li><a class="nav-link scrollto" href="@Url.Action("Citas", "Home")">Citas</a></li>
                        }
                        <li><a class="nav-link scrollto" href="@Url.Action("Alertas", "Home")">Alertas</a></li>
                        <li><a class="nav-link scrollto" href="@Url.Action("Dietas", "Home")">Dietas según edad</a></li>
                        <li><a class="nav-link scrollto" href="@Url.Action("Preguntas", "Home")">Preguntas con expertos</a></li>
                        <li><a class="nav-link scrollto" href="@Url.Action("EtapasDesarrollo", "Home")">Etapas de desarrollo</a></li>
                        <li class="dropdown">
                            <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAipJREFUSEu91kuozVEUx/HPFSJhRooBkuSZUp6hjERJSgZIpOSRFIkBScmj5DXBAElKBhhQkgkx8QjlkSiklKSEPJLWbR1d/86593/Oud093P+9ft+9/mv/1t4tuni0dDFPvcBBWIAp6I47uIQ3ZTdeD3A19qNfQfwbtuEI/nQELgtci6Mp9hsv8ROj0CPnd2BXZwCH4Cn64BqW4mMK98dJLMoNjMPz9qBlMtyO3XiLkfheEIwMH+e3A9jcLPAiFuIMltcQO4z1uIE5zQJvYhYOYWMNsZ2IGj7C+GaBld1fxdwaYuexGGezxjWZZWo4Fg9o9ewIvCqoDc65qOXU9GZTwAg+mL/zE47jIX5hIlZhIE5hRWfYIjTCEiewpIbgFSzD584CVnTmp/DkNPxtXEDUsNQoU8NSQmUXlQGOwbRsY2H83gXxH3iR3egu7jdqi17Ygw3oVjaDPFSb8LVaTK0Mh+I6hmdQZHEPkcGXglBkHDWd1Cb7d+nZaHn/jWrAmLuVnorFp9MSHZ3AOMn7sCY9Gw1/Qjb1f9BqwC3YmyvW4VgdvzOWhnXOZUyUJO7KdoEfMCCznFEnrLI8fDkPcTn3bXsxFzOMJ8T7jJqO8FkjYzSeZGBc0s8qIkVgGPty7ih2FjtsZMSpjnuzZzbzaOqtowjcmlZ4jWGNkNrExKmOXhvnIXSrAmdidj4hKm+YRrkrEc+TsFI8TaoCGxUvHVemtZUWK7Owy4F/ATGQYh0Wmn0/AAAAAElFTkSuQmCC" /><i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="@Url.Action("Perfil", "Home")">Mi perfil</a></li>
                                @if (Convert.ToString(Session["idRol"]) == "6")
                                {
                                    <li><a href="@Url.Action("ModuloConfiguracion", "Config")">Configuración</a></li>
                                }
                                <li>
                                    <a>@Session["correoUsuario"]</a>
                                </li>
                                <li><a href="@Url.Action("CerrarSesion", "Home")">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")">Inicio</a></li>
                        <li style="display: none;"><a class="nav-link scrollto" href="@Url.Action("Expediente", "Home")">Expediente</a></li>
                        <li style="display: none;"><a class="nav-link scrollto" href="@Url.Action("Citas", "Home")">Citas</a></li>
                        <li style="display: none;"><a class="nav-link scrollto" href="@Url.Action("Alertas", "Home")">Alertas</a></li>
                        <li><a class="nav-link scrollto" href="@Url.Action("Dietas", "Home")">Dietas según edad</a></li>

                        <li><a class="nav-link scrollto" href="@Url.Action("Preguntas", "Home")">Preguntas con expertos</a></li>
                        <li><a class="nav-link scrollto" href="@Url.Action("EtapasDesarrollo", "Home")">Etapas de desarrollo</a></li>
                        <li style="display: none;" class="dropdown">
                            <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAipJREFUSEu91kuozVEUx/HPFSJhRooBkuSZUp6hjERJSgZIpOSRFIkBScmj5DXBAElKBhhQkgkx8QjlkSiklKSEPJLWbR1d/86593/Oud093P+9ft+9/mv/1t4tuni0dDFPvcBBWIAp6I47uIQ3ZTdeD3A19qNfQfwbtuEI/nQELgtci6Mp9hsv8ROj0CPnd2BXZwCH4Cn64BqW4mMK98dJLMoNjMPz9qBlMtyO3XiLkfheEIwMH+e3A9jcLPAiFuIMltcQO4z1uIE5zQJvYhYOYWMNsZ2IGj7C+GaBld1fxdwaYuexGGezxjWZZWo4Fg9o9ewIvCqoDc65qOXU9GZTwAg+mL/zE47jIX5hIlZhIE5hRWfYIjTCEiewpIbgFSzD584CVnTmp/DkNPxtXEDUsNQoU8NSQmUXlQGOwbRsY2H83gXxH3iR3egu7jdqi17Ygw3oVjaDPFSb8LVaTK0Mh+I6hmdQZHEPkcGXglBkHDWd1Cb7d+nZaHn/jWrAmLuVnorFp9MSHZ3AOMn7sCY9Gw1/Qjb1f9BqwC3YmyvW4VgdvzOWhnXOZUyUJO7KdoEfMCCznFEnrLI8fDkPcTn3bXsxFzOMJ8T7jJqO8FkjYzSeZGBc0s8qIkVgGPty7ih2FjtsZMSpjnuzZzbzaOqtowjcmlZ4jWGNkNrExKmOXhvnIXSrAmdidj4hKm+YRrkrEc+TsFI8TaoCGxUvHVemtZUWK7Owy4F/ATGQYh0Wmn0/AAAAAElFTkSuQmCC" /> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="@Url.Action("Perfil", "Home")">Mi perfil</a></li>
                                <li><a href="@Url.Action("ModuloConfiguracion", "Config")">Configuración</a></li>
                                <li>
                                    @if (Session["correoUsuario"] != null)
                                    {
                                        <a>@Session["correoUsuario"]</a>
                                    }
                                </li>
                                <li><a href="#">Cerrar Sesión</a></li>
                            </ul>
                        </li>

                        <li style="display: none;"><a class="nav-link scrollto" href="@Url.Action("Preguntas", "Home")">Preguntas con expertos</a></li>

                        <li><a class="getstarted scrollto" href="@Url.Action("Registro", "Acceso")">Registrarme</a></li>
                    }
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main>
        <div class="Indexcontainer">
            @RenderBody()
        </div>
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
