
@{
    ViewBag.Title = "Configuracion";
    Layout = "~/Views/Shared/_LayoutConfig.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración del Sistema de Padres Primerizos</title>
    <!-- Incluir Bootstrap CSS -->
    <link href="../assets/css/ModuloConfiguracion/ConfiguracionSistema.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">


</head>
<body>
    <div class="container-config">
        <!-- Side navigation -->
        <div class="sidenav-configFrontend">
            <a href="#" id="consejosLink">Consejos</a>
            <a href="#" id="nombresLink">Nombres y Significados</a>
            <a href="#" id="expedienteLink">Expediente</a>
        </div>

        <div class="main-configFrontend">

            @*Se mostrara el input de agregar y el text area de la descripciono unicamente cuando se presione el boton de agregarConsejo*@
            @*Se mostrara unicamente el select con el consejo seleccionado y el text area de la descripcion unicamente cuando se presione el boton de editar*@
            @*Boton de guardar cambios es para submit*@
            <form id="consejosForm" class="configForm">
                <h2>Consejos</h2>
                <label for="consejosSelector">Seleccionar Consejo:</label>
                <select id="consejosSelector">
                    @*Aqui van los titulos de los consejos enlistados en options que se agregaran dinamicamente gracias al controlador*@

                </select><br>

                <label for="descripcionConsejo" style="display: none;">Modificar Consejo:</label>
                @*El siguiente textarea se mostrara con la descripcion actual cargada en caso de que el usuario presione la opcion de modificar consejo*@
                <textarea id="descripcionConsejo" style="display: none;" rows="4" placeholder="Ingrese la descripcion"></textarea><br>

                <button type="button" id="agregarConsejo"><i class='bx bx-plus'></i></button>
                <button type="button" id="eliminarConsejo"><i class='bx bxs-trash'></i></button>
                <button type="button" id="modificarConsejo"><i class='bx bxs-edit-alt'></i></button>
                <button type="submit" id="guardarCambiosConsejo">Guardar</button>
            </form>

            @*Se mostrara el input de agregar y el text area del significado unicamente cuando se presione el boton de agregarNombre*@
            @*Se mostrara unicamente el select con el nombre seleccionado y el text area del significado unicamente cuando se presione el boton de editar*@
            @*Boton de guardar cambios es para submit*@
            <form id="nombresForm" class="configForm" style="display: none;">
                <h2>Nombres y significados</h2>
                <label for="nombresSelector">Seleccionar nombre:</label>
                <select id="nombresSelector">
                </select><br>

                <label for="IngresarNombre" style="display: none;">Ingrese un Nombre:</label>
                <input type="text" name="txtAgregarNombre" style="display: none;" id="txtAgregarNombre" value="" />

                <label for="significadoNombre" style="display: none;">Modificar Nombre:</label>
                @*El siguiente textarea se mostrara con la descripcion actual cargada en caso de que el usuario presione la opcion de modificarnombre*@
                <textarea id="significadoNombre" style="display: none;" rows="4" placeholder="Ingrese la descripcion"></textarea><br>

                <button type="button" id="agregarNombre"><i class='bx bx-plus'></i></button>
                <button type="button" id="eliminarNombre"><i class='bx bxs-trash'></i></button>
                <button type="button" id="modificarNombre"><i class='bx bxs-edit-alt'></i></button>
                <button type="submit" id="guardarCambiosNombre">Guardar</button>
            </form>


            <div id="expedienteForm" class="configForm" style="display: none;">
                <!-- Aquí puedes colocar el formulario de expediente -->
            </div>
        </div>
    </div>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/moduloConfig.js"></script>


    <!-- Include SweetAlert library -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Agrega jQuery si aún no está incluido -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        
        $(document).ready(function() {
            cargarListaConsejos();
            cargarListaNombres();

            $("#consejosSelector").change(function() {
                var consejoSeleccionado = $(this).val();
                obtenerDescripcionConsejo(consejoSeleccionado);
            });

            $("#nombresSelector").change(function() {
                var nombreSeleccionado = $(this).val();
                obtenerSignificadoNombre(nombreSeleccionado);
            });

            $("#modificarConsejo").click(function() {
                mostrarDescripcionConsejo();
            });

            $("#modificarNombre").click(function() {
                mostrarSignificado();
            });

            $("#guardarCambiosConsejo").click(function() {
                guardarCambiosConsejo();
            });

            $("#guardarCambiosNombre").click(function() {
                guardarCambiosSignificado();
            });
        });

        function cargarListaConsejos() {
            
            $.ajax({
                url: "@Url.Action("ListarConsejos", "Home")",
                method: "GET",
                dataType: "json",
                success: function(data) {
                    var options = "";
                    data.forEach(function(consejo) {
                        options += "<option value='" + consejo.Titulo + "'>" + consejo.Titulo + "</option>";
                    });
                    $("#consejosSelector").html(options);
                },
                error: function() {
                    mostrarErrorAlert("Error al cargar la lista de consejos.");
                }
            });
        }
        
        function obtenerDescripcionConsejo(tituloConsejo) {
            $.ajax({
                url: "@Url.Action("ObtenerDescripcionConsejo", "Home")",
                method: "GET",
                data: { titulo: tituloConsejo },
                dataType: "json",
                success: function(data) {
                    $("#descripcionConsejo").val(data.Descripcion);
                },
                error: function() {
                    mostrarErrorAlert("Error al obtener la descripción del consejo.");
                }
            });
        }

        function mostrarDescripcionConsejo() {
            var descripcion = $("#descripcionConsejo").val();
            $("#descripcionConsejo").show().val(descripcion);
        }

        function guardarCambiosConsejo() {
            var tituloConsejo = $("#consejosSelector").val();
            var nuevaDescripcion = $("#descripcionConsejo").val();

            $.ajax({
                url: "@Url.Action("ActualizarDescripcionConsejo", "Home")",
                method: "POST",
                data: { titulo: tituloConsejo, descripcion: nuevaDescripcion },
                success: function() {
                    mostrarExitoAlert("Consejo modificado exitosamente.");
                },
                error: function() {
                    mostrarErrorAlert("Error al modificar el consejo.");
                }
            });
        }

        function cargarListaNombres() {
            $.ajax({
                url: "@Url.Action("ListarNombres", "Home")",
                method: "GET",
                dataType: "json",
                success: function(data) {
                    var options = "";
                    data.forEach(function(nombre) {
                        options += "<option value='" + nombre + "'>" + nombre + "</option>";
                    });
                    $("#nombresSelector").html(options);
                },
                error: function() {
                    mostrarErrorAlert("Error al cargar la lista de nombres.");
                }
            });
        }
        
        function obtenerSignificadoNombre(nombreSeleccionado) {
            
            $.ajax({
                url: "@Url.Action("ObtenerSignificadoPorNombreC", "Home")",
                method: "GET",
                data: { nombre: nombreSeleccionado },
                dataType: "json",
                success: function (data) {
                    
                    $("#significadoNombre").text(data.Significado);
                },
                error: function() {
                    mostrarErrorAlert("Error al obtener el significado del nombre.");
                }
            });
        }

        function mostrarSignificado() {
            var significado = $("#significadoNombre").val();
            $("#significadoNombre").show().val(significado);
        }

        function guardarCambiosSignificado() {
            var nombreSeleccionado = $("#nombresSelector").val();
            var nuevoSignificado = $("#significadoNombre").val();

            $.ajax({
                url: "@Url.Action("ActualizarSignificado", "Home")",
                method: "POST",
                data: { nombre: nombreSeleccionado, significado: nuevoSignificado },
                success: function () {
                   
                    mostrarExitoAlert("Significado modificado exitosamente.");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("AJAX Error:", textStatus, errorThrown);
                    mostrarErrorAlert("Error al modificar el significado.");
                }
            });
        }

        function mostrarExitoAlert(mensaje) {
            swal(mensaje, "Presiona OK para continuar", "success");
        }

        function mostrarErrorAlert(mensaje) {
            swal(mensaje, "Ha ocurrido un error", "error");
        }
    
        
    </script>
</body>
</html> 
