
@{
    ViewBag.Title = "Configuracion";
    Layout = "~/Views/Shared/_LayoutConfig.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración del Sistema de Padres Primerizos</title>
    <!-- Incluir Bootstrap CSS -->
    <link href="../assets/css/ModuloConfiguracion/ConfiguracionSistema.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">


</head>
<body>
    <div class="container-config">
        <!-- Side navigation -->
        <div class="sidenav-configFrontend">
            <a href="#" id="consejosLink">Consejos</a>
            <a href="#" id="nombresLink">Nombres y Significados</a>
            <a href="#" id="expedienteLink">Expediente</a>
        </div>

        <div class="main-configFrontend">

            @*Se mostrara el input de agregar y el text area de la descripciono unicamente cuando se presione el boton de agregarConsejo*@
            @*Se mostrara unicamente el select con el consejo seleccionado y el text area de la descripcion unicamente cuando se presione el boton de editar*@
            @*Boton de guardar cambios es para submit*@
            <form id="consejosForm" class="configForm">
                <h2>Consejos</h2>
                <label for="consejosSelector">Seleccionar Consejo:</label>
                <select id="consejosSelector">
                    @*Aqui van los titulos de los consejos enlistados en options que se agregaran dinamicamente gracias al controlador*@

                </select><br>

                <label for="descripcionConsejo" style="display: none;">Modificar Consejo:</label>
                @*El siguiente textarea se mostrara con la descripcion actual cargada en caso de que el usuario presione la opcion de modificar consejo*@
                <textarea id="descripcionConsejo" style="display: none;" rows="4" placeholder="Ingrese la descripcion"></textarea><br>

                <button type="button" id="agregarConsejo"><i class='bx bx-plus'></i></button>
                <button type="button" id="eliminarConsejo"><i class='bx bxs-trash'></i></button>
                <button type="button" id="modificarConsejo"><i class='bx bxs-edit-alt'></i></button>
                <button type="submit" id="guardarCambiosConsejo">Guardar</button>
            </form>

            <!-- Agregar Consejo Modal -->
            <div id="agregarConsejoModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Agregar Consejo</h2>
                    <input type="text" id="inputNuevoConsejo" placeholder="Nuevo consejo">
                    <textarea id="textareaNuevaDescripcion" placeholder="Descripción"></textarea>
                    <br />
                    <button id="btnAgregarConsejoModal">Agregar Consejo</button>
                    <button class="closeModal">Cancelar</button>
                </div>
            </div>

            @*Se mostrara el input de agregar y el text area del significado unicamente cuando se presione el boton de agregarNombre*@
            @*Se mostrara unicamente el select con el nombre seleccionado y el text area del significado unicamente cuando se presione el boton de editar*@
            @*Boton de guardar cambios es para submit*@
            <form id="nombresForm" class="configForm" style="display: none;">
                <h2>Nombres y significados</h2>
                <label for="nombresSelector">Seleccionar nombre:</label>
                <select id="nombresSelector">
                </select><br>

                <label for="IngresarNombre" style="display: none;">Ingrese un Nombre:</label>
                <input type="text" name="txtAgregarNombre" style="display: none;" id="txtAgregarNombre" value="" />

                <label for="significadoNombre" style="display: none;">Modificar Nombre:</label>
                @*El siguiente textarea se mostrara con la descripcion actual cargada en caso de que el usuario presione la opcion de modificarnombre*@
                <textarea id="significadoNombre" style="display: none;" rows="4" placeholder="Ingrese la descripcion"></textarea><br>

                <button type="button" id="agregarNombre"><i class='bx bx-plus'></i></button>
                <button type="button" id="eliminarNombre"><i class='bx bxs-trash'></i></button>
                <button type="button" id="modificarNombre"><i class='bx bxs-edit-alt'></i></button>
                <button type="submit" id="guardarCambiosNombre">Guardar</button>
            </form>

            <!-- Agregar Nombre Modal -->
            <div id="agregarNombreModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Agregar Nombre y Significado</h2>
                    <input type="text" id="inputNuevoNombre" placeholder="Nuevo nombre">
                    <textarea id="textareaNuevoSignificado" placeholder="Significado"></textarea>
                    <br />
                    <button id="btnAgregarNombreModal">Agregar Nombre</button>
                    <button class="closeModal">Cancelar</button>
                </div>
            </div>


            <form id="expedienteForm" class="configForm" style="display: none;">
                <!-- Aquí puedes colocar el formulario de expediente -->
                <h2>Expediente - Alergias</h2>
                <label for="alergiasSelector">Seleccionar alergia:</label>
                <select id="alergiasSelector">
                </select><br>

          

                <label for="nombreAlergia" style="display: none;">Modificar alergia:</label>
                @*El siguiente textarea se mostrara con la descripcion actual cargada en caso de que el usuario presione la opcion de modificarnombre*@
                <textarea id="nombreAlergia" style="display: none;" rows="4" placeholder="Ingrese la nueva alergia"></textarea><br>

                <button type="button" id="agregarAlergia"><i class='bx bx-plus'></i></button>
                <button type="button" id="eliminarAlergia"><i class='bx bxs-trash'></i></button>
                <button type="button" id="modificarAlergia"><i class='bx bxs-edit-alt'></i></button>
                <button type="submit" id="guardarCambiosAlergia">Guardar</button>
            </form>
            <!-- Agregar Nombre Modal -->
            <div id="agregarAlergiaModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Agregar alergia</h2>
                    <input type="text" id="inputNuevaAlergia" placeholder="Nueva alergia" autocomplete="off">
                    <br />
                    <button id="btnAgregarAlergiaModal">Agregar Alergia</button>
                    <button class="closeModal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/moduloConfig.js"></script>


    <!-- Include SweetAlert library -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Agrega jQuery si aún no está incluido -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).ready(function() {
            cargarListaConsejos();
            cargarListaNombres();
            cargarListaAlergias();

            $("#consejosLink").click(function () {
                formularioActivo = "consejos"; // Marcar el formulario de consejos como activo
                mostrarFormulario("consejosForm");
            });

            $("#nombresLink").click(function () {
                formularioActivo = "nombres"; // Marcar el formulario de nombres como activo
                mostrarFormulario("nombresForm");
            });

            $("#expedienteLink").click(function () {
                formularioActivo = "expediente"; // Marcar el formulario de nombres como activo
                mostrarFormulario("expedienteForm");
            });

            //$("#consejosSelector").change(function() {
            //    var consejoSeleccionado = $(this).val();
            //    obtenerDescripcionConsejo(consejoSeleccionado);
            //});

            //$("#nombresSelector").change(function() {
            //    var nombreSeleccionado = $(this).val();
            //    obtenerSignificadoNombre(nombreSeleccionado);
            //});

            // Abrir el modal de agregar consejo al hacer clic en el botón
            $("#agregarConsejo").click(function () {
                $("#agregarConsejoModal").show();
            });

            $("#btnAgregarConsejoModal").click(function () {
                AgregarConsejo();
                $("#agregarConsejoModal").hide();
            });

            // Abrir el modal de agregar nombre al hacer clic en el botón
            $("#agregarNombre").click(function () {
                $("#agregarNombreModal").show();
            });

            $("#btnAgregarNombreModal").click(function () {
                AgregarNombre();
                $("#agregarNombreModal").hide();
            });

            // Abrir el modal de agregar alergia al hacer clic en el botón
            $("#agregarAlergia").click(function () {
                $("#agregarAlergiaModal").show();
            });

            $("#btnAgregarAlergiaModal").click(function () {
                AgregarAlergia();
                $("#agregarAlergiaModal").hide();
            });

            // Cerrar el modal al hacer clic en el botón "Cancelar"
            $(".closeModal").click(function () {
                $(".modal").hide();
            });

            // Cerrar el modal al hacer clic en la "X" en la esquina superior
            $(".close").click(function () {
                $(".modal").hide();
            });

            //EDICION DE DATOS
            $("#modificarConsejo").click(function () {
                if (formularioActivo === "consejos") {
                    mostrarDescripcionConsejo();
                }
            });
            $("#modificarNombre").click(function () {
                if (formularioActivo === "nombres") {
                    mostrarSignificado();
                }
            });
            $("#modificarAlergia").click(function () {
                if (formularioActivo === "expediente") {
                    mostrarNombreAlergia();
                }
            });

            //GUARDAR CAMBIOS
            $("#guardarCambiosConsejo").click(function () {
                if (formularioActivo === "consejos") {
                    guardarCambiosConsejo();
                }
            });

            $("#guardarCambiosNombre").click(function () {
                if (formularioActivo === "nombres") {
                    guardarCambiosSignificado();
                }
            });

            $("#guardarCambiosAlergia").click(function () {
                if (formularioActivo === "expediente") {
                    guardarCambiosExpediente();
                }
            });

            //ELIMINAR DATOS
            $("#eliminarConsejo").click(function () {
                if (formularioActivo === "consejos") {
                    EliminarConsejo();
                }
            });

            $("#eliminarNombre").click(function () {
                if (formularioActivo === "nombres") {
                    EliminarNombre();
                }
            });
            $("#eliminarAlergia").click(function () {
                if (formularioActivo === "expediente") {
                    EliminarAlergia();
                }
            });
        });

        function mostrarFormulario(formularioId) {
            // Ocultar todos los formularios y modales
            $(".configForm").hide();
            $(".modal").hide();

            // Mostrar el formulario seleccionado
            $("#" + formularioId).show();
        }

        function cargarListaConsejos() {

            $.ajax({
                url: "@Url.Action("ListarConsejos", "Home")",
                method: "GET",
                dataType: "json",
                success: function (data) {

                    var options = "";
                    data.forEach(function(consejo) {
                        options += "<option value='" + consejo.Titulo + "'>" + consejo.Titulo + "</option>";
                    });
                    $("#consejosSelector").html(options);
                },
                error: function() {
                    mostrarErrorAlert("Error al cargar la lista de consejos.");
                }
            });
        }

        function obtenerDescripcionConsejo(tituloConsejo) {
            $.ajax({
                url: "@Url.Action("ObtenerDescripcionConsejo", "Home")",
                method: "GET",
                data: { titulo: tituloConsejo },
                dataType: "json",
                success: function(data) {
                    $("#descripcionConsejo").val(data.Descripcion);
                },
                error: function() {
                    mostrarErrorAlert("Error al obtener la descripción del consejo.");
                }
            });
        }

        function mostrarDescripcionConsejo() {
            var descripcion = $("#descripcionConsejo").val();
            $("#descripcionConsejo").show().val(descripcion);
        }

        function guardarCambiosConsejo() {
            var tituloConsejo = $("#consejosSelector").val();
            var nuevaDescripcion = $("#descripcionConsejo").val();

            $.ajax({
                url: "@Url.Action("ActualizarDescripcionConsejo", "Home")",
                method: "POST",
                data: { titulo: tituloConsejo, descripcion: nuevaDescripcion },
                success: function(data) {
                    mostrarExitoAlert(data.mensaje);
                },
                error: function() {
                    mostrarErrorAlert("Error al modificar el consejo.");
                }
            });
        }

        function EliminarConsejo () {
            var tituloConsejo = $("#consejosSelector").val();
            $.ajax({
                url: "@Url.Action("EliminarConsejo", "Home")",
                method: "POST",
                data: { titulo: tituloConsejo },
                success: function(data) {
                    mostrarExitoAlert(data.mensaje);
                },
                error: function() {
                    mostrarErrorAlert("Error al eliminar el consejo.");
                }
            });
        }

        function AgregarConsejo () {
            var tituloConsejo = $("#inputNuevoConsejo").val();
            var desConsejo = $("#textareaNuevaDescripcion").val();


            $.ajax({
                url: "@Url.Action("AgregarConsejo", "Home")",
                method: "POST",
                data: { titulo: tituloConsejo,descripcion: desConsejo },
                success: function(data) {
                    mostrarExitoAlert(data.mensaje);
                },
                error: function() {
                    mostrarErrorAlert("Error al agregar el consejo.");
                }
            });
        }

        function cargarListaNombres() {
            $.ajax({
                url: "@Url.Action("ListarNombres", "Home")",
                method: "GET",
                dataType: "json",
                success: function(data) {
                    var options = "";
                    data.forEach(function(nombre) {
                        options += "<option value='" + nombre + "'>" + nombre + "</option>";
                    });
                    $("#nombresSelector").html(options);
                },
                error: function() {
                    mostrarErrorAlert("Error al cargar la lista de nombres.");
                }
            });
        }

        function obtenerSignificadoNombre(nombreSeleccionado) {

            $.ajax({
                url: "@Url.Action("ObtenerSignificadoPorNombreC", "Home")",
                method: "GET",
                data: { nombre: nombreSeleccionado },
                dataType: "json",
                success: function (data) {


                    $("#significadoNombre").text(data.Significado);
                },
                error: function() {
                    mostrarErrorAlert("Error al obtener el significado del nombre.");
                }
            });
        }

        function mostrarSignificado() {
            var significado = $("#significadoNombre").val();
            $("#significadoNombre").show().val(significado);
        }

        function guardarCambiosSignificado() {
            var nombreSeleccionado = $("#nombresSelector").val();
            var nuevoSignificado = $("#significadoNombre").val();

            $.ajax({
                url: "@Url.Action("ActualizarSignificado", "Home")",
                method: "POST",
                data: { nombre: nombreSeleccionado, significado: nuevoSignificado },
                success: function (data) {
                    console.log(data);
                    mostrarExitoAlert(data.mensaje);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("AJAX Error:", textStatus, errorThrown);
                    mostrarErrorAlert("Error al modificar el nombre.");
                }
            });
        }

        function AgregarNombre () {
            var Nombre = $("#inputNuevoNombre").val();
            var Significado = $("#textareaNuevoSignificado").val();


            $.ajax({
                url: "@Url.Action("AgregarNombre", "Home")",
                method: "POST",
                data: { nombre: Nombre, significado: Significado  },
                success: function(data) {
                    mostrarExitoAlert(data.mensaje);
                },
                error: function() {
                    mostrarErrorAlert("Error al eliminar el nombre.");
                }
            });
        }

        function EliminarNombre() {
            var nombreSeleccionado = $("#nombresSelector").val();


            $.ajax({
                url: "@Url.Action("EliminarNombre", "Home")",
                method: "POST",
                data: { nombre: nombreSeleccionado },
                success: function(data) {
                    mostrarExitoAlert(data.mensaje);
                },
                error: function() {
                    mostrarErrorAlert("Error al eliminar el nombre.");
                }
            });
        }

        function cargarListaAlergias() {

            $.ajax({
                url: "@Url.Action("ListarAlergias", "Home")",
                method: "GET",
                dataType: "json",
                success: function (data) {

                    var options = "";
                    data.forEach(function(alergias) {
                        options += "<option value='" + alergias + "'>" + alergias + "</option>";
                    });
                    $("#alergiasSelector").html(options);
                },
                error: function() {
                    mostrarErrorAlert("Error al cargar la lista de alergias.");
                }
            });
        }

        function guardarCambiosExpediente() {
            var nombreAlergiaSeleccionado = $("#alergiasSelector").val();
            var nuevaAlergia = $("#nombreAlergia").val();

            $.ajax({
                url: "@Url.Action("ActualizarExpediente", "Home")",
                method: "POST",
                data: { nuevaAlergia: nombreAlergiaSeleccionado, actualAlergia: nuevaAlergia },
                success: function (data) {
                    console.log(data);
                    mostrarExitoAlert(data.mensaje);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("AJAX Error:", textStatus, errorThrown);
                    mostrarErrorAlert("Error al guardar los cambios de expediente.");
                }
            });
        }

        function AgregarAlergia() {
            var NombreAlergia = $("#inputNuevaAlergia").val();
            $.ajax({
                url: "@Url.Action("AgregarAlergiaC", "Home")",
                type: "POST",
                data: { nombreAlergia: NombreAlergia },
                success: function (data) {
                    mostrarExitoAlert(data.mensaje);
                },
                error: function (xhr, status, error) {
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                    mostrarErrorAlert("Error al agregar la alergia.");
                }
            });
        }

        function EliminarAlergia() {
            var nombreAlergiaSeleccionado = $("#alergiasSelector").val();
            $.ajax({
                url: "@Url.Action("EliminarAlergiaC", "Home")",
                method: "POST",
                data: { nombreAlergia: nombreAlergiaSeleccionado },
                success: function(data) {
                    mostrarExitoAlert(data.mensaje);
                },
                error: function() {
                    mostrarErrorAlert("Error al eliminar el nombre.");
                }
            });
        }
        function mostrarNombreAlergia() {
            var significado = $("#nombreAlergia").val();
            $("#nombreAlergia").show().val(significado);
        }

        function mostrarExitoAlert(mensaje) {
            swal({
                text: mensaje,
                icon: "success",
                button: "OK"
            }).then((value) => {
                // Aquí puedes ejecutar acciones adicionales si es necesario
            });
        }

        function mostrarErrorAlert(mensaje) {
            swal({
                text: mensaje,
                icon: "error",
                button: "OK"
            }).then((value) => {
                // Aquí puedes ejecutar acciones adicionales si es necesario
            });
        }

    </script>
</body>
</html>
