
@{
    ViewBag.Title = "Alertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/Alertas.css" rel="stylesheet" />
</head>

<div class="info-bebe">
    <div class="info-text">
        <h2>Camila Jiménez</h2>
        <h3>7 meses 15 días</h3>
    </div>
</div>
<div class="grid-container">

    @{ int cont = 0; }
    @foreach (var i in Model.Alertas)
    {

        string borderColor = (cont % 2 == 0) ? "#6CA5B1" : "#00DDBD";

        <div class="grid-item" id="categoria-alerta" style="border-left: 10px solid @borderColor;" data-id="@i.idAlerta">

            @if (i.idCategoria == "1")
            {
                <img src="~/assets/img/CategoriasAlertas/biberon.png" />
            }



            else if (i.idCategoria == "2")
            {
                <img src="~/assets/img/CategoriasAlertas/panal.png" />
            }
            else if (i.idCategoria == "3")
            {
                <img src="~/assets/img/CategoriasAlertas/jarabe.png" />
            }
            else if (i.idCategoria == "4")
            {
                <img src="~/assets/img/CategoriasAlertas/cuna-de-bebe.png" />
            }
            else if (i.idCategoria == "5")
            {
                <img src="~/assets/img/CategoriasAlertas/patio-de-juegos.png" />
            }
        </div>
        cont++;

        <div class="grid-item" id="info-alerta" data-id="@i.idAlerta">
            <p>Tiempo restante: </p>
            <p>@i.Titulo</p>
        </div>
        <div class="grid-item" id="botones-alerta" data-id="@i.idAlerta">
            <!-- Agregar el switch con la clase "switch" -->
            <label class="switch">
                <input type="checkbox" data-id="@i.idAlerta" @(i.Estado == "True" ? "checked" : "")>
                <span class="switch-label"></span>
            </label>
            <button type="button" class="delete" data-id="@i.idAlerta"></button>
        </div>
        <div class="grid-item" id="hora-alerta" data-id="@i.idAlerta">
            <img src="~/assets/img/Alertas/despertador.png" />
            <p>@i.Hora</p>
        </div>
    }
</div>

<div class="nuevo-evento">
    <h2>Nuevo Evento</h2>
    <form method="post" action="@Url.Action("Alertas", "Home")">
        <div class="evento-titulo">
            <label class="lbl-titulo">Evento</label>
            <input type="text" id="input-evento" name="iptTitulo" required maxlength="50" />
        </div>
        <div class="evento-labels">
            <label class="lbl-hora">Seleccione una hora</label>
            <label class="lbl-categoria">Seleccione una Categoria</label>
        </div>
        <div class="evento-inputs">
            <input type="time" id="input-hora" name="iptHora" required />
            <select class="slc-categoria" name="slcCategoria" required>
                @foreach (var i in Model.Categorias)
                {
                    <option value="@i.idCategoria">@i.Nombre</option>
                }
            </select>
        </div>
        <button type="submit" class="btn-guardar-evento">Agregar Evento</button>
    </form>
</div>

<div class="leyenda">
    <p>“Porque cada paso en la vida de tu bebé es un momento lleno de amor y orgullo”.</p>
    <img src="~/assets/img/Alertas/planetas.png" class="planeta" />
    <img src="~/assets/img/Alertas/cohete.png" class="cohete" />
    <img src="~/assets/img/Alertas/estrella.png" class="estrellas" id="e1" />
    <img src="~/assets/img/Alertas/estrella.png" class="estrellas" id="e2" />
    <img src="~/assets/img/Alertas/estrella.png" class="estrellas" id="e3" />
</div>

<!-- Agregar jQuery si aún no lo tienes en la página -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/push.min.js"></script>
<script>
    // Esperar a que el DOM esté listo
    $(document).ready(function () {
        // Manejar el cambio del checkbox
        $("input[type='checkbox']").on("change", function () {
            var idAlerta = $(this).data("id");
            var estado = $(this).prop("checked");

            // Realizar la solicitud AJAX
            $.ajax({
                url: '@Url.Action("ActualizarEstado", "Home")',
                type: 'POST',
                data: { idAlerta: idAlerta, estado: estado },
                success: function (result) {
                    // Si la actualización fue exitosa, puedes realizar cualquier acción adicional aquí si lo deseas.
                    console.log("Actualización exitosa");
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Manejar cualquier error que pueda ocurrir durante la actualización.
                    console.error("Error en la actualización:", errorThrown);
                }
            });
        });

        // Manejar el clic en el botón de eliminación
        $(".delete").on("click", function () {
            var idAlerta = $(this).data("id");

            // Realizar la solicitud AJAX
            $.ajax({
                url: '@Url.Action("EliminarAlerta", "Home")',
                type: 'POST',
                data: { idAlerta: idAlerta },
                success: function (result) {
                    var $elementosAEliminar = $(".grid-container .grid-item[data-id='" + idAlerta + "']");

                    // Eliminar todos los elementos que forman la fila
                    $elementosAEliminar.remove();
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Manejar cualquier error que pueda ocurrir durante la eliminación.
                    console.error("Error en la eliminación:", errorThrown);
                }
            });
        });

    });    

    });

    function NotificarAlerta(titulo, hora) {
        Push.Permission.request();
        Push.create('BabyGuide informa', {
            body: `${titulo} a las ${hora}.`,
            icon: "../assets/img/newLogo.png",
            timeout: 1500000,
            vibrate: [100, 100, 100],
        })
    }

    NotificarAlerta('Hola mundo', '12');


</script>