
@{
    ViewBag.Title = "Expediente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<body>
        <script src="../assets/js/main.js"></script>
    </body>*@

<head>
    <link rel="stylesheet" href="../assets/css/expediente.css">
    <script src="../assets/js/main.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<div class="body">
    <form action="@Url.Action("Expediente", "Home")" method="post">
        <h1>Expediente de tu Bendición</h1>
        <div class="cuerpo">
            <img class="deco" src="../assets/img/ExpedientePage/chupon.png" alt="">
            <div class="containerex">
                <label for="nom">Nombre</label>
                <input type="text" id="nom" name="nom" class="input-item" placeholder="Nombre" value="@ViewBag.nom" maxlength="30" pattern="[A-Za-z]+" title="Solo se permiten letras">
                <label for="nac" id="lblnac">Fecha Nacimiento</label>
                <input type="date" id="nac" name="nac" class="input-item" value="@ViewBag.nac.ToString("yyyy-MM-dd")">
                <label for="ape1" id="lblape1">Primer Apellido</label>
                <input type="text" id="ape1" name="ape1" class="input-item" placeholder="Apellidos" value="@ViewBag.ape1" maxlength="30" pattern="[A-Za-z]+" title="Solo se permiten letras">
                <label for="ape2" id="lblape2">Segundo Apellido</label>
                <input type="text" id="ape2" name="ape2" class="input-item" placeholder="Apellidos" value="@ViewBag.ape2" maxlength="30" pattern="[A-Za-z]+" title="Solo se permiten letras">

            </div>
            <button class="botongeneral">Guardar</button>
        </div>
        <div class="cuerpo2">
            <label for="alt" id="lblalt">Altura (cm)</label>
            <input type="tel" id="alt" name="alt" class="input-item" placeholder="Altura (cm)" value="@ViewBag.alt" pattern="^\d+(\.\d{1})?$" title="Digitos con un decimal">
            <label for="pes" id="lblpes">Peso (kg)</label>
            <input type="text" id="pes" name="pes" class="input-item" placeholder="Peso (kg)" value="@ViewBag.peso" pattern="^\d+(\.\d{1})?$" title="Digitos con un decimal">
            <label for="gen" id="lblgen">Género</label>
            <select id="gen" name="gen">
                <option value="True" @(ViewBag.gen.ToString() == "True" ? "selected" : "")>Masculino</option>
                <option value="False" @(ViewBag.gen.ToString() == "False" ? "selected" : "")>Femenino</option>
            </select>
            <label for="gest" id="lblgest">Mes(es) de Gestación</label>
            <select id="gest" name="gest">
                <option value="1" @(ViewBag.gest.ToString() == "1" ? "selected" : "")>1 mes</option>
                <option value="2" @(ViewBag.gest.ToString() == "2" ? "selected" : "")>2 meses</option>
                <option value="3" @(ViewBag.gest.ToString() == "3" ? "selected" : "")>3 meses</option>
                <option value="4" @(ViewBag.gest.ToString() == "4" ? "selected" : "")>4 meses</option>
                <option value="5" @(ViewBag.gest.ToString() == "5" ? "selected" : "")>5 meses</option>
                <option value="6" @(ViewBag.gest.ToString() == "6" ? "selected" : "")>6 meses</option>
                <option value="7" @(ViewBag.gest.ToString() == "7" ? "selected" : "")>7 meses</option>
                <option value="8" @(ViewBag.gest.ToString() == "8" ? "selected" : "")>8 meses</option>
                <option value="9" @(ViewBag.gest.ToString() == "9" ? "selected" : "")>9 meses</option>
                <option value="10" @(ViewBag.gest.ToString() == "10" ? "selected" : "")>10 meses</option>
                <option value="11" @(ViewBag.gest.ToString() == "11" ? "selected" : "")>11 meses</option>
                <option value="12" @(ViewBag.gest.ToString() == "12" ? "selected" : "")>12 meses</option>
            </select>
        </div>
    </form>
    <div class="cuerpo3">
        <div class="tab">
            <button class="tablinks" onclick="openT(event, 'Alergias')" id="defaultOpen">Alergias</button>
            <button class="tablinks" onclick="openT(event, 'Vacunas')">Vacunas</button>
            <button class="tablinks" onclick="openT(event, 'Diagnosticos')">Diagnosticos</button>
            <button class="tablinks" onclick="openT(event, 'Medicamentos')">Medicamentos</button>
        </div>

        <!-- Tab content -->
        <div id="Alergias" class="tabcontent">
            <div class="item-list-container">
                <label for="fechaaler" id="lblaler">Fecha de Alergia</label>
                <input type="date" id="fechaaler" class="input-item">
                <ul class="item-list" id="aler">
                    @foreach (var i in Model.Alergias)
                    {
                        <li>
                            <span>@i.name</span>
                            <button class="delete-button" data-id="@i.id" data-name="@i.name">+</button>
                        </li>
                    }

                </ul>
            </div>
            <div class="item-list-container">
                <ul class="item-list" id="alerbebe">
                    @foreach (var i in Model.AlergiasBebe)
                    {
                        <li>
                            <span>@i.name | </span>
                            <span>@i.fecha</span>
                            <button class="delete-button" data-id="@i.id" data-name="@i.name">
                                <img src="~/assets/img/ExpedientePage/delete.png" />
                            </button>
                        </li>

                    }

                </ul>
            </div>
        </div>

        <div id="Vacunas" class="tabcontent">
            <div class="item-list-container">
                <label for="fechavac" id="lblvac">Fecha de Vacunación</label>
                <input type="date" id="fechavac" class="input-item">
                <ul class="item-list" id="vac">
                    @foreach (var i in Model.Vacunas)
                    {
                        <li>
                            <span>@i.name</span>
                            <button class="delete-button" data-id="@i.id" data-name="@i.name">+</button>
                        </li>
                    }
                </ul>
            </div>
            <div class="item-list-container">
                <ul class="item-list" id="vacbebe">
                    @foreach (var i in Model.VacunasBebe)
                    {
                        <li>
                            <span>@i.name | </span>
                            <span>@i.fecha</span>
                            <button class="delete-button" data-id="@i.id" data-name="@i.name">
                                <img src="~/assets/img/ExpedientePage/delete.png" />
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div id="Diagnosticos" class="tabcontent">
            <div class="item-list-container" id="diag">
                <input type="text" class="input-item" placeholder="Padecimiento" id="txtpade" maxlength="30">
                <input type="date" class="input-item" placeholder="Descripción" id="txtfecha">
                <button class="botongeneral" id="save">Guardar</button>
            </div>
            <div class="item-list-container">
                <ul class="item-list" id="diagbebe">
                    @foreach (var i in Model.Diagnosticos)
                    {
                        <li>
                            <span>@i.name | </span>
                            <span>@i.fecha</span>
                            <button class="delete-button" data-id="@i.id" data-name="@i.name">
                                <img src="~/assets/img/ExpedientePage/delete.png" />
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div id="Medicamentos" class="tabcontent">
            <div class="item-list-container">
                <ul class="item-list" id="medi">
                    @foreach (var i in Model.Medicamentos)
                    {
                        <li>
                            <span>@i.name</span>
                            <button class="delete-button" data-id="@i.id" data-name="@i.name">+</button>
                        </li>
                    }
                </ul>
            </div>
            <div class="item-list-container">
                <ul class="item-list" id="medibebe">
                    @foreach (var i in Model.MedicamentosBebe)
                    {
                        <li>
                            <span>@i.name</span>
                            <button class="delete-button" data-id="@i.id" data-name="@i.name">
                                <img src="~/assets/img/ExpedientePage/delete.png" />
                            </button>
                        </li>
                    }

                </ul>
            </div>
        </div>


    </div>


    <script type="text/javascript">
        document.getElementById("defaultOpen").click();
        function openT(evt, Name) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(Name).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
    $(document).ready(function () {
        // Manejar el clic en el botón de agregar
        $("#aler").on("click", ".delete-button", function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name"); // Supongamos que el nombre del elemento se guarda como atributo data-name en el botón
            var fechaaler = $("#fechaaler").val();
            if (fechaaler === "" || fechaaler === null) {
                return;
            }
            agregarElemento(itemId, itemName, fechaaler);
        });

        $("#alerbebe").on("click", ".delete-button", function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name");
            eliminarElemento(itemId, itemName);
        });
        // Función para agregar el elemento a la lista seleccionada
        function agregarElemento(itemId, itemName, fechaaler) {
            var existe = $("#alerbebe").find("[data-id='" + itemId + "']").length > 0;
            if (existe) {
                return;
            }
            // Llamada AJAX para enviar el ID y Nombre del elemento seleccionado al controlador
            $.ajax({
                url: '@Url.Action("AgregarAlergia", "Home")',
                type: 'POST',
                data: { id: itemId, nombre: itemName, fecha: fechaaler }, // Incluimos ambos datos en la solicitud
                success: function (data) {
                    // La respuesta del servidor debe ser el objeto del elemento seleccionado
                    if (data !== null) {
                        // Agregar el elemento a la lista seleccionada
                        $("#alerbebe").append("<li><span>" + data.name + "</span> <span> | " + data.fecha + "</span><button class='delete-button' data-id='" + data.id + "'> <img src='@Url.Content("/assets/img/ExpedientePage/delete.png")' /></button></li>");
                    }

                },
                error: function () {
                    alert("Error al agregar el elemento.");
                }
            });
        }
        function eliminarElemento(itemId, itemName) {
            // Llamada AJAX para enviar el ID del elemento seleccionado al controlador para eliminarlo
            $.ajax({
                url: '@Url.Action("EliminarAlergia", "Home")',
                type: 'POST',
                data: { id: itemId, nombre: itemName }, // Incluimos ambos datos en la solicitud
                success: function (data) {

                    $("#alerbebe").find("[data-id='" + itemId + "']").parent().remove();
                },
                error: function () {
                    alert("Error al eliminar el elemento.");
                }
            });
        }
    });
    </script>
    <script>
    $(document).ready(function () {
        // Manejar el clic en el botón de agregar
        $("#vac").on("click", ".delete-button", function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name"); // Supongamos que el nombre del elemento se guarda como atributo data-name en el botón
            var fechavac = $("#fechavac").val();
            if (fechavac === "" || fechavac === null) {
                return;
            }
            agregarElemento(itemId, itemName, fechavac);
        });

        $("#vacbebe").on("click", ".delete-button", function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name");
            eliminarElemento(itemId, itemName);
        });
        // Función para agregar el elemento a la lista seleccionada
        function agregarElemento(itemId, itemName, fechavac) {
            var existe = $("#vacbebe").find("[data-id='" + itemId + "']").length > 0;
            if (existe) {
                return;
            }
            // Llamada AJAX para enviar el ID y Nombre del elemento seleccionado al controlador
            $.ajax({
                url: '@Url.Action("AgregarVacuna", "Home")',
                type: 'POST',
                data: { id: itemId, nombre: itemName, fecha: fechavac }, // Incluimos ambos datos en la solicitud
                success: function (data) {
                    // La respuesta del servidor debe ser el objeto del elemento seleccionado
                    if (data !== null) {
                        // Agregar el elemento a la lista seleccionada
                        $("#vacbebe").append("<li><span>" + data.name + "</span>  <span> | " + data.fecha + "</span><button class='delete-button' data-id='" + data.id + "'> <img src='@Url.Content("/assets/img/ExpedientePage/delete.png")' /></button></li>");
                    }
                },
                error: function () {
                    alert("Error al agregar el elemento.");
                }
            });
        }
        function eliminarElemento(itemId, itemName) {
            // Llamada AJAX para enviar el ID del elemento seleccionado al controlador para eliminarlo
            $.ajax({
                url: '@Url.Action("EliminarVacuna", "Home")',
                type: 'POST',
                data: { id: itemId, nombre: itemName }, // Incluimos ambos datos en la solicitud
                success: function (data) {

                    $("#vacbebe").find("[data-id='" + itemId + "']").parent().remove();
                },
                error: function () {
                    alert("Error al eliminar el elemento.");
                }
            });
        }
    });
    </script>
    <script>
    $(document).ready(function () {
        // Manejar el clic en el botón de agregar
        $("#diag").on("click", "#save", function () {
            var fecha = $("#txtfecha").val();
            var pade = $("#txtpade").val();
            if (fecha === "" || fecha === null) {
                return;
            }
            if (pade === "" || pade === null) {
                return;
            }
            agregarElemento(pade, fecha);
        });

        $("#diagbebe").on("click", ".delete-button", function () {
            var Name = $(this).data("name");
            eliminarElemento(Name);
        });
        // Función para agregar el elemento a la lista seleccionada
        function agregarElemento(pade, fecha) {
            var existe = $("#diagbebe").find("[data-name='" + pade + "']").length > 0;
            if (existe) {
                return;
            }
            // Llamada AJAX para enviar el ID y Nombre del elemento seleccionado al controlador
            $.ajax({
                url: '@Url.Action("AgregarDiagnostico", "Home")',
                type: 'POST',
                data: { nombre: pade, fecha: fecha }, // Incluimos ambos datos en la solicitud
                success: function (data) {
                    // La respuesta del servidor debe ser el objeto del elemento seleccionado
                    if (data !== null) {
                        // Agregar el elemento a la lista seleccionada
                        $("#diagbebe").append("<li><span>" + data.name + "</span>  <span> | " + data.fecha + "</span><button class='delete-button' data-name='" + data.name +"'> <img src='@Url.Content("/assets/img/ExpedientePage/delete.png")' /></button></li>");
                    }
                },
                error: function () {
                    alert("Error al agregar el elemento.");
                }
            });
        }
        function eliminarElemento(Name) {
            // Llamada AJAX para enviar el ID del elemento seleccionado al controlador para eliminarlo
            $.ajax({
                url: '@Url.Action("EliminarDiagnostico", "Home")',
                type: 'POST',
                data: { nombre: Name }, // Incluimos ambos datos en la solicitud
                success: function (data) {

                    $("#diagbebe").find("[data-name='" + Name + "']").parent().remove();
                },
                error: function () {
                    alert("Error al eliminar el elemento.");
                }
            });
        }
    });
    </script>
    <script>
    $(document).ready(function () {
        // Manejar el clic en el botón de agregar
        $("#medi").on("click", ".delete-button", function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name"); // Supongamos que el nombre del elemento se guarda como atributo data-name en el botón
            agregarElemento(itemId, itemName);
        });

        $("#medibebe").on("click", ".delete-button", function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name");
            eliminarElemento(itemId, itemName);
        });
        // Función para agregar el elemento a la lista seleccionada
        function agregarElemento(itemId, itemName, fechaaler) {
            var existe = $("#medibebe").find("[data-id='" + itemId + "']").length > 0;
            if (existe) {
                return;
            }
            // Llamada AJAX para enviar el ID y Nombre del elemento seleccionado al controlador
            $.ajax({
                url: '@Url.Action("AgregarMedicacion", "Home")',
                type: 'POST',
                data: { id: itemId, nombre: itemName}, // Incluimos ambos datos en la solicitud
                success: function (data) {
                    // La respuesta del servidor debe ser el objeto del elemento seleccionado
                    if (data !== null) {
                        // Agregar el elemento a la lista seleccionada

                        $("#medibebe").append("<li><span>" + data.name + "</span><button class='delete-button' data-id='" + data.id +"'> <img src='@Url.Content("/assets/img/ExpedientePage/delete.png")' /></button></li>");
                        swal("Elemento agregado exitosamente", "Presiona OK para continuar", "success"); // Mostrar la alerta SweetAlert

                    }
                },
                error: function () {
                    alert("Error al agregar el elemento.");
                }
            });
        }
        function eliminarElemento(itemId, itemName) {
            // Llamada AJAX para enviar el ID del elemento seleccionado al controlador para eliminarlo
            $.ajax({
                url: '@Url.Action("EliminarMedicacion", "Home")',
                type: 'POST',
                data: { id: itemId, nombre: itemName }, // Incluimos ambos datos en la solicitud
                success: function (data) {

                    $("#medibebe").find("[data-id='" + itemId + "']").parent().remove();
                },
                error: function () {
                    alert("Error al eliminar el elemento.");
                }
            });
        }
    });
    </script>

</div>
