
@{
    ViewBag.Title = "Expediente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<body>
        <script src="../assets/js/main.js"></script>
    </body>*@

<head>
    <link rel="stylesheet" href="../assets/css/expediente.css">
    <script src="../assets/js/main.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<div class="body">
    <form action="/Home/Expediente" method="post">
        <h1>Expediente de tu Bendición</h1>
        <div class="cuerpo">
            <img class="deco" src="../assets/img/ExpedientePage/chupon.png" alt="">
            <div class="containerex">
                <label for="nom">Nombre</label>
                <input type="text" id="nom" name="nom" class="input-item" placeholder="Nombre" value="@ViewBag.nom" maxlength="30">
                <label for="nac" id="lblnac">Fecha Nacimiento</label>
                <input type="date" id="nac" name="nac" class="input-item" value="@ViewBag.nac.ToString("yyyy-MM-dd")">
                <label for="ape1" id="lblape1">Primer Apellido</label>
                <input type="text" id="ape1" name="ape1" class="input-item" placeholder="Apellidos" value="@ViewBag.ape1" maxlength="30">
                <label for="ape2" id="lblape2">Segundo Apellido</label>
                <input type="text" id="ape2" name="ape2" class="input-item" placeholder="Apellidos" value="@ViewBag.ape2" maxlength="30">

            </div>
            <button class="botongeneral">Guardar</button>
        </div>
        <div class="cuerpo2">
            <label for="alt" id="lblalt">Altura (cm)</label>
            <input type="tel" id="alt" name="alt" class="input-item" placeholder="Altura (cm)" value="@ViewBag.alt" pattern="^\d+(\.\d{1})?$">
            <label for="pes" id="lblpes">Peso (kg)</label>
            <input type="text" id="pes" name="pes" class="input-item" placeholder="Peso (kg)" value="@ViewBag.peso" pattern="^\d+(\.\d{1})?$">
            <label for="gen" id="lblgen">Género</label>
            <select id="gen" name="gen">
                <option value="True" @(ViewBag.gen.ToString() == "True" ? "selected" : "")>Masculino</option>
                <option value="False" @(ViewBag.gen.ToString() == "False" ? "selected" : "")>Femenino</option>
            </select>
            <label for="gest" id="lblgest">Mes(es) de Gestación</label>
            <select id="gest" name="gest">
                <option value="1" @(ViewBag.gest.ToString() == "1" ? "selected" : "")>1 mes</option>
                <option value="2" @(ViewBag.gest.ToString() == "2" ? "selected" : "")>2 meses</option>
                <option value="3" @(ViewBag.gest.ToString() == "3" ? "selected" : "")>3 meses</option>
                <option value="4" @(ViewBag.gest.ToString() == "4" ? "selected" : "")>4 meses</option>
                <option value="5" @(ViewBag.gest.ToString() == "5" ? "selected" : "")>5 meses</option>
                <option value="6" @(ViewBag.gest.ToString() == "6" ? "selected" : "")>6 meses</option>
                <option value="7" @(ViewBag.gest.ToString() == "7" ? "selected" : "")>7 meses</option>
                <option value="8" @(ViewBag.gest.ToString() == "8" ? "selected" : "")>8 meses</option>
                <option value="9" @(ViewBag.gest.ToString() == "9" ? "selected" : "")>9 meses</option>
                <option value="10" @(ViewBag.gest.ToString() == "10" ? "selected" : "")>10 meses</option>
                <option value="11" @(ViewBag.gest.ToString() == "11" ? "selected" : "")>11 meses</option>
                <option value="12" @(ViewBag.gest.ToString() == "12" ? "selected" : "")>12 meses</option>
            </select>
        </div>
    </form>
    <div class="cuerpo3">
        <div class="tab">
            <button class="tablinks" onclick="openT(event, 'Alergias')" id="defaultOpen">Alergias</button>
            <button class="tablinks" onclick="openT(event, 'Vacunas')">Vacunas</button>
            <button class="tablinks" onclick="openT(event, 'Diagnosticos')">Diagnosticos</button>
            <button class="tablinks" onclick="openT(event, 'Medicamentos')">Medicamentos</button>
        </div>

        <!-- Tab content -->
        <div id="Alergias" class="tabcontent">
            <div class="item-list-container">
                <ul class="item-list" id="aler">
                    @foreach (var i in Model.Alergias)
                    {
                        <li>
                            <span>@i.name</span>
                            <button class="delete-button" data-id="@i.id" data-name="@i.name">+</button>
                        </li>
                    }

                </ul>
            </div>
            <div class="item-list-container">
                <ul class="item-list" id="selec">
                    @foreach (var i in Model.Alergias)
                    {

                    }

                </ul>
            </div>
        </div>

        <div id="Vacunas" class="tabcontent">
            <div class="item-list-container">
                <ul class="item-list">
                    @foreach (var i in Model.Vacunas)
                    {
                        <li>
                            <span>@i.name</span>
                            <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                        </li>
                    }
                </ul>
            </div>
            <div class="item-list-container">
                <ul class="item-list">
                    <li>
                        <span>Item 1</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 2</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>

                </ul>
            </div>
        </div>

        <div id="Diagnosticos" class="tabcontent">
            <div class="item-list-container">
                <input type="text" class="input-item" placeholder="Padecimiento">
                <input type="text" class="input-item" placeholder="Descripción">
                <button class="botongeneral">Guardar</button>
            </div>
            <div class="item-list-container">
                <ul class="item-list">
                    <li>
                        <span>Item 1</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 2</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>

                </ul>
            </div>
        </div>

        <div id="Medicamentos" class="tabcontent">
            <div class="item-list-container">
                <ul class="item-list">
                    @foreach (var i in Model.Medicamentos)
                    {
                        <li>
                            <span>@i.name</span>
                            <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                        </li>
                    }
            </div>
            <div class="item-list-container">
                <ul class="item-list">
                    <li>
                        <span>Item 1</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 2</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>

                </ul>
            </div>
        </div>


    </div>


    <script type="text/javascript">
        document.getElementById("defaultOpen").click();
        function openT(evt, Name) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(Name).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
    $(document).ready(function () {
        // Manejar el clic en el botón de agregar
        $(".delete-button").on("click", function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name"); // Supongamos que el nombre del elemento se guarda como atributo data-name en el botón
            agregarElemento(itemId, itemName);
        });

        $("#selec").on("click", ".delete-button", function () {
            var itemId = $(this).data("id");
            eliminarElemento(itemId);
        });
        // Función para agregar el elemento a la lista seleccionada
        function agregarElemento(itemId, itemName) {
            var existe = $("#selec").find("[data-id='" + itemId + "']").length > 0;
            if (existe) {
                return;
            }
            // Llamada AJAX para enviar el ID y Nombre del elemento seleccionado al controlador
            $.ajax({
                url: '@Url.Action("AgregarElemento", "Home")',
                type: 'POST',
                data: { id: itemId, nombre: itemName }, // Incluimos ambos datos en la solicitud
                success: function (data) {
                    // La respuesta del servidor debe ser el objeto del elemento seleccionado
                    if (data !== null) {
                        // Agregar el elemento a la lista seleccionada
                        $("#selec").append("<li>" + data.name + "<button class='delete-button' data-id='" + data.id + "'>-</button></li>");
                        swal("Elemento agregado exitosamente", "Presiona OK para continuar", "success"); // Mostrar la alerta SweetAlert
                    }
                },
                error: function () {
                    alert("Error al agregar el elemento.");
                }
            });
        }
        function eliminarElemento(itemId) {
            // Llamada AJAX para enviar el ID del elemento seleccionado al controlador para eliminarlo
            $.ajax({
                url: '@Url.Action("EliminarElemento", "Home")',
                type: 'POST',
                data: { id: itemId },
                success: function (data) {
                    // Remover el elemento de la lista seleccionada en el cliente
                    $("#selec").find("[data-id='" + itemId + "']").parent().remove();
                },
                error: function () {
                    alert("Error al eliminar el elemento.");
                }
            });
        }
    });
    </script>
</div>
