
@{
    ViewBag.Title = "Expediente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<body>
        <script src="../assets/js/main.js"></script>
    </body>*@

<head>
    <link rel="stylesheet" href="../assets/css/expediente.css">
    <script src="../assets/js/main.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<div class="body">
    <h1>Expediente de tu Bendición</h1>
    <div class="cuerpo">
        <img class="deco" src="../assets/img/ExpedientePage/chupon.png" alt="">
        <div class="containerex">
            <input type="text" class="input-item" placeholder="Nombre" value="@ViewBag.nom">
            <input type="text" class="input-item" placeholder="Apellidos" value="@ViewBag.ape1">
            <input type="date" class="input-item" value="@ViewBag.nac.ToString("yyyy-MM-dd")">
            <select>
                <option value="1" @(ViewBag.gest.ToString() == "1" ? "selected" : "")>1 mes</option>
                <option value="2" @(ViewBag.gest.ToString() == "2" ? "selected" : "")>2 meses</option>
            </select>
        </div>
        <button class="botongeneral">Guardar</button>
    </div>
    <div class="cuerpo2">
        <input type="tel" class="input-item" placeholder="Altura         cm" value="@ViewBag.alt">
        <input type="text" class="input-item" placeholder="Peso          kg" value="@ViewBag.peso">
        <select>
            <option value="1" @(ViewBag.gen.ToString() == "1" ? "selected" : "")>Masculino</option>
            <option value="0" @(ViewBag.gen.ToString() == "0" ? "selected" : "")>Femenino</option>
        </select>
    </div>
    <div class="cuerpo3">
        <div class="tab">
            <button class="tablinks" onclick="openT(event, 'Alergias')" id="defaultOpen">Alergias</button>
            <button class="tablinks" onclick="openT(event, 'Vacunas')">Vacunas</button>
            <button class="tablinks" onclick="openT(event, 'Diagnosticos')">Diagnosticos</button>
            <button class="tablinks" onclick="openT(event, 'Medicamentos')">Medicamentos</button>
        </div>

        <!-- Tab content -->
        <div id="Alergias" class="tabcontent">
            <div class="item-list-container">
                <ul class="item-list" id="aler">
                    @foreach (var i in Model.Alergias)
                    {
                        <li>
                            <span>@i.name</span>
                            <button class="delete-button" data-id="@i.id" data-name="@i.name">+</button>
                        </li>
                    }

                </ul>
            </div>
            <div class="item-list-container">
                <ul class="item-list" id="selec">
                    @foreach (var i in Model.Alergias)
                    {
                        
                    }

                </ul>
            </div>
        </div>

        <div id="Vacunas" class="tabcontent">
            <div class="item-list-container">
                <ul class="item-list">
                    @foreach (var i in Model.Vacunas)
                    {
                        <li>
                            <span>@i.name</span>
                            <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                        </li>
                    }
                </ul>
            </div>
            <div class="item-list-container">
                <ul class="item-list">
                    <li>
                        <span>Item 1</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 2</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>

                </ul>
            </div>
        </div>

        <div id="Diagnosticos" class="tabcontent">
            <div class="item-list-container">
                <input type="text" class="input-item" placeholder="Padecimiento">
                <input type="text" class="input-item" placeholder="Descripción">
                <button class="botongeneral">Guardar</button>
            </div>
            <div class="item-list-container">
                <ul class="item-list">
                    <li>
                        <span>Item 1</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 2</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>

                </ul>
            </div>
        </div>

        <div id="Medicamentos" class="tabcontent">
            <div class="item-list-container">
                <ul class="item-list">
                    @foreach (var i in Model.Medicamentos)
                    {
                        <li>
                            <span>@i.name</span>
                            <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                        </li>
                    }
            </div>
            <div class="item-list-container">
                <ul class="item-list">
                    <li>
                        <span>Item 1</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 2</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>
                    <li>
                        <span>Item 3</span>
                        <a href="" class="delete-button"><img src="img/delete.png" alt=""></a>
                    </li>

                </ul>
            </div>
        </div>


    </div>


    <script type="text/javascript">
        document.getElementById("defaultOpen").click();
        function openT(evt, Name) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(Name).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        // Manejar el clic en el botón de agregar
        $(".delete-button").on("click", function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name"); // Supongamos que el nombre del elemento se guarda como atributo data-name en el botón
            agregarElemento(itemId, itemName);
        });

        $("#selec").on("click", ".delete-button", function () {
            var itemId = $(this).data("id");
            eliminarElemento(itemId);
        });
        // Función para agregar el elemento a la lista seleccionada
        function agregarElemento(itemId, itemName) {
            var existe = $("#selec").find("[data-id='" + itemId + "']").length > 0;
            if (existe) {
                return;
            }
            // Llamada AJAX para enviar el ID y Nombre del elemento seleccionado al controlador
            $.ajax({
                url: '@Url.Action("AgregarElemento", "Home")',
                type: 'POST',
                data: { id: itemId, nombre: itemName }, // Incluimos ambos datos en la solicitud
                success: function (data) {
                    // La respuesta del servidor debe ser el objeto del elemento seleccionado
                    if (data !== null) {
                        // Agregar el elemento a la lista seleccionada
                        $("#selec").append("<li>" + data.name + "<button class='delete-button' data-id='" + data.id +"'>-</button></li>");
                    }
                },
                error: function () {
                    alert("Error al agregar el elemento.");
                }
            });
        }
        function eliminarElemento(itemId) {
            // Llamada AJAX para enviar el ID del elemento seleccionado al controlador para eliminarlo
            $.ajax({
                url: '@Url.Action("EliminarElemento", "Home")',
                type: 'POST',
                data: { id: itemId },
                success: function (data) {
                    // Remover el elemento de la lista seleccionada en el cliente
                    $("#selec").find("[data-id='" + itemId + "']").parent().remove();
                },
                error: function () {
                    alert("Error al eliminar el elemento.");
                }
            });
        }
    });
    </script>
</div>
