
@{
    ViewBag.Title = "GestionFamilia";
}

<head>
    <link rel="stylesheet" href="../assets/css/familia.css">
    <script src="../assets/js/main.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<div class="body">
    <h2>Gestiona tu Familia</h2>
    <div class="main">
        @foreach (var i in Model.familia)
        {
            <div class="personas">
                <label for="" class="nombre">@i.name</label>
                <label for="" class="rol">@i.rol</label>
            </div>
        }
    </div>
    <img src="../assets/img/GestionarFamiliaPage/encargado.png" alt="" class="deco">
    <form action="@Url.Action("GestionFamilia", "Home")" method="post">
        <div class="main2">
            <select name="fam" id="">
                @foreach (var i in Model.familia)
                {
                    <option value="@i.id">@i.name</option>
                }
            </select>
            <select name="rol" id="">
                @foreach (var i in Model.roles)
                {
                    <option value="@i.id">@i.name</option>
                }

            </select>
            <button class="botongeneral" type="submit">Guardar</button>
        </div>
    </form>
</div>
