
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="../assets/css/perfil.css">
    <script src="../assets/js/main.js"></script>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<div class="body">
    <div class="main">
        <h2>Bebé(s) asociado(s)</h2>
        <div class="bebe">
            <div class="bebes">
                @if (Session["idBebe"] != null)
                {
                    <img src="../assets/img/PerfilPage/perfil.png" alt="" class="deco">
                    <div class="infobebe">

                        <label for="" id="lblnom">@ViewBag.nombebe</label>
                        <label for="" id="lblape">@ViewBag.apebebe</label>
                        <br>

                        <select id="miSelect" class="input-item">
                            @foreach (var i in Model)
                            {
                                <option value="@i.id" @(i.id == Convert.ToString(Session["idBebe"]) ? "selected" : "")>@i.name @i.apellidos</option>
                            }

                        </select>
                        <button class="botongeneral" id="btnclave">Compartir Clave</button>
                    </div>
                }

            </div>

            <div class="bebe2">
                <button class="botongeneral" id="registrarBebeBtn">Registrar bebé</button>
                
                <div class="agregar">
                    <input type="text" class="input-item" placeholder="Ingrese clave bebé" id="txtclaveu">
                    <button class="botongeneral" id="btnunir">Confirmar clave</button>
                </div>
            </div>

            <!-- Modal de registro del bebé -->
            <div class="modal" id="registroBebeModal">
                <div class="modal-content">
                    <form action="/Home/Perfil" method="post">
                        <span class="close" id="closeModal">&times;</span>
                        <h2>Registrar bebé</h2>
                        <label for="idBebe">Identificación:</label>
                        <input type="text" id="idBebe" name="id" class="input-item" placeholder="Ingrese la identificación del bebé" required pattern="[0-9]+" title="Solo se permiten digitos">
                        <button class="botongeneral" type="button" id="btnCargarDatos">Buscar Bebe</button>
                        <label for="nombreBebe">Nombre:</label>
                        <input type="text" id="nombreBebe" name="nom" class="input-item" placeholder="Ingrese el nombre del bebé" required maxlength="30" pattern="[A-Za-z]+" title="Solo se permiten letras"><br>
                        <label for="apellido1Bebe">Apellido 1:</label>
                        <input type="text" id="apellido1Bebe" name="ape1" class="input-item" placeholder="Ingrese el primer apellido del bebé" required maxlength="30" pattern="[A-Za-z]+" title="Solo se permiten letras"><br>
                        <label for="apellido2Bebe">Apellido 2:</label>
                        <input type="text" id="apellido2Bebe" name="ape2" class="input-item" placeholder="Ingrese el segundo apellido del bebé" required maxlength="30" pattern="[A-Za-z]+" title="Solo se permiten letras"><br>
                        <label for="genero">Género:</label>
                        <select id="genero" class="input-item" name="gen">
                            <option value="True">Masculino</option>
                            <option value="False">Femenino</option>
                        </select><br>
                        <label for="FechaNacBebe">Fecha de Nacimiento (Opcional):</label>
                        <input type="date" id="FechaNacBebe" name="nac" class="input-item"><br>
                        <label for="gestacion">Fecha de Gestación:</label>
                        <select id="gestacion" name="gest" class="input-item">
                            <option value="1">1 mes</option>
                            <option value="2">2 meses</option>
                            <option value="3">3 meses</option>
                            <option value="4">4 meses</option>
                            <option value="5">5 meses</option>
                            <option value="6">6 meses</option>
                            <option value="7">7 meses</option>
                            <option value="8">8 meses</option>
                            <option value="9">9 meses</option>
                            <option value="10">10 meses</option>
                            <option value="11">11 meses</option>
                            <option value="12">12 meses</option>
                        </select>
                        <button class="botongeneral" type="submit">Registrar</button>
                    </form>

                </div>
            </div>
            <div class="modal" id="compartirclave">
                <div class="modal-content">
                    <span class="close" id="closeModalclave">&times;</span>
                    <h2>Compartir clave</h2>
                    <label id="lblclave" for="txtclave">Clave bebé</label>
                    <input type="text" name="name" value="@ViewBag.clave" id="txtclave" disabled/>
                    <input type="email" name="name" value="" placeholder="Ingresa un Email" id="txtcorreo" />
                    <button class="botongeneral" id="btncompartir">Compartir</button>
                </div>
            </div>
        </div>
    </div>
    <img src="../assets/img/PerfilPage/familia.png" alt="" class="deco2">
    <div class="main2">
        <h2>Perfil</h2>
        <div class="perfil">
            <img src="../assets/img/PerfilPage/perfil.png" alt="" class="deco">

            <div class="infoperfil">
                <label for="">@ViewBag.nom</label>
                <label for="">@ViewBag.ape</label>
                <label for="">@ViewBag.correo</label>
            </div>
            @if (Session["idBebe"] != null)
            {
                <label for="" class="rol" id="lblrol">@ViewBag.rol</label>
            }


            <div class="botonperfil">
                <a class="botongeneral" href="@Url.Action("PerfilModificar", "Home")">Editar</a>
                <a class="botongeneral" href="@Url.Action("GestionFamilia", "Home")">Gestionar Familia</a>
            </div>
        </div>

    </div>
</div>

<!--script src="~/assets/js/Perfil.js"></!--script-->

<script>
    // Mostrar el modal de registro del bebé al hacer clic en el botón "Registrar bebé"
    document.getElementById('registrarBebeBtn').addEventListener('click', function () {
        document.getElementById('registroBebeModal').style.display = 'block';
    });

    // Ocultar el modal de registro del bebé al hacer clic en la "X" de cerrar
    document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('registroBebeModal').style.display = 'none';
    });

</script>

<script>
    // Mostrar el modal de registro del bebé al hacer clic en el botón "Registrar bebé"
    document.getElementById('btnclave').addEventListener('click', function () {
        document.getElementById('compartirclave').style.display = 'block';
    });

    // Ocultar el modal de registro del bebé al hacer clic en la "X" de cerrar
    document.getElementById('closeModalclave').addEventListener('click', function () {
        document.getElementById('compartirclave').style.display = 'none';
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Asociar el botón al evento click y llamar a la función obtenerDetalleBebe con el valor del campo de bebé
        $('#btnCargarDatos').on('click', function () {
            var idBebe = $('#idBebe').val();
            obtenerDetalleBebe(idBebe);
        });
    });

    function obtenerDetalleBebe(idBebe) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DetalleBebe", "Home")',
            data: { idBebe: idBebe },
            success: function (data) {
                debugger;
                console.log(data);
                mostrarDetalleBebe(data);
            },
            error: function () {
                alert('Datos del bebe no encontrados.');
            }
        });
    }

    function mostrarDetalleBebe(data) {
        if (data && data.length > 0) {
            var usuario = data[0];
            $('#idUsuarioInput').val(usuario.IdUsuario);
            $('#nombreBebe').val(usuario.Nombre);
            $('#apellido1Bebe').val(usuario.Apellido1);
            $('#apellido2Bebe').val(usuario.Apellido2);
            $('#genero').val(usuario.Genero);
            $('#FechaNacBebe').val(usuario.FechaNacimiento);
        } else {
            limpiarCampos();
        }
    }

    function limpiarCampos() {
        $('#idBebe').val('');
        $('#nombreBebe').val('');
        $('#apellido1Bebe').val('');
        $('#apellido2Bebe').val('');
        $('#generoInput').val('');
        $('#FechaNacBebe').val('');
    };
</script>
<script>
    // Función para manejar el cambio en el select
    $(document).ready(function () {
        $("#miSelect").on("change", function () {
            var nuevoValor = $(this).val();
            actualizarVariableSession(nuevoValor);
        });
    });

    // Función para actualizar la variable de sesión
    function actualizarVariableSession(nuevoValor) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("CambioBebe", "Home")",
            data: { valor: nuevoValor },
            success: function (response) {
                if (response.success) {
                    // jQuery
                    $('#lblnom').text(response.nombre);
                    $('#lblape').text(response.apellido);
                    $('#lblrol').text(response.rol);
                    $('#txtclave').val(response.clave);
                } else {
                    console.error("Error al actualizar la variable de sesión.");
                }
            },
            error: function (error) {
                console.error("Error en la solicitud AJAX:", error);
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        // Asociar el botón al evento click y llamar a la función obtenerDetalleBebe con el valor del campo de bebé
        $('#btncompartir').on('click', function () {
            var clave = $('#txtclave').val();
            var correo = $('#txtcorreo').val();
            var bebe = $('#lblnom').text();
            var ape = $('#lblape').text();
            compartirclave(clave, correo, bebe, ape);
        });
    });

    function compartirclave(clave, correo, bebe, ape) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Compartirclave", "Home")',
            data: { clave: clave, correo: correo, bebe : bebe, ape: ape },
            success: function (response) {
                if (response.success) {
                    document.getElementById('compartirclave').style.display = 'none';
                } else {

                }
                
            },
            error: function () {
                alert('Datos del bebe no encontrados.');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        // Asociar el botón al evento click y llamar a la función obtenerDetalleBebe con el valor del campo de bebé
        $('#btnunir').on('click', function () {
            var clave = $('#txtclaveu').val();
            confirmarclave(clave);
        });
    });

    function confirmarclave(clave) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Confirmarclave", "Home")',
            data: { clave: clave },
            success: function (response) {
                if (response.success) {
                    
                } else {

                }

            },
            error: function () {
                alert('Datos del bebe no encontrados.');
            }
        });
    }
</script>