
@{
    ViewBag.Title = "Preguntas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="../assets/css/preguntas.css">
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>
    <form action="@Url.Action("Preguntas", "Home")" method="post">
        <div class="main">
            <div class="contenedor">
                <img src="../assets/img/PreguntasPage/papalote.png" alt="">
                <h1>Preguntas con Expertos</h1>
                <input type="text" class="input-item" placeholder="Escribir Pregunta" id="miInput" name="txtpregunta">
                <button class="botongeneral" id="miBoton" type="submit">Buscar Pregunta</button>
                <div class="resp">
                    <label id="lblpregunta" @(ViewBag.preg != null && ViewBag.preg.ToString() == "No se encontró una pregunta" ? "style=color:red;" : "")>@ViewBag.preg </label>
                    <label id="lblrespuesta">@ViewBag.res</label>
                </div>
            </div>
            <div class="contenedor2">
                <h1>Preguntas frecuentes</h1>
                @foreach (var i in Model)
                {
                    <button class="accordion" type="button">@i.Pregunta</button>
                    <div class="panel">
                        <p>@i.Respuesta</p>
                    </div>
                }
                <img src="../assets/img/PreguntasPage/carrusel.png" alt="">
            </div>
        </div>
    </form>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
    @*
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            // Asociar el evento click al botón
            $("#miBoton").click(function() {
                // Obtener el valor del input
                var textoInput = $("#miInput").val();

                // Realizar la petición AJAX al controlador con el valor del input
                $.ajax({
                    url: '@Url.Action("Resp", "Home")',
                    type: 'POST', // O 'GET' según corresponda
                    data: { inputText: textoInput }, // Enviar el valor del input en los datos de la petición
                    success: function(result) {
                        // Actualizar el contenido del label con la respuesta del controlador
                        $("#miLabel").text(result);
                    },
                    error: function(xhr, status, error) {
                        // Manejar errores aquí si es necesario
                        console.error(error);
                    }
                });
            });
        });
        </script>
    *@
    <script src="../assets/js/main.js"></script>
</body>

